.chat-side
  .side-header
    .box
      %p.box__user-name aaaaa
      %ul.box__menu
        %li.box__menu__new-group
          %label.input-box__icon{:for => "upload-icon"}
          = link_to "/groups/new" do
            =fa_icon"edit"
        %li.box__menu__edit-user
          %label.input-box__icon{:for => "upload-icon"}
          = link_to "/users/669/edit" do
            =fa_icon "cog"
        .groups
          %a{:href => "/groups/1348/messages"}
            .group
              %p.group__group-name example
              %p.group__latest-message まだメッセージがありません
          %a{:href => "/groups/1347/messages"}
            .group
              %p.group__group-name sample
              %p.group__latest-message aaaaa