.chat-side
  .side-header
    .box
      %p.box__user-name aaaaa
      %ul.box__menu
        %li.box__menu__new-group
          %label.input-box__icon{:for => "upload-icon"}
          %a{:href => "/groups/new"}
          %i.fa.fa-edit
        %li.box__menu__edit-user
          %label.input-box__icon{:for => "upload-icon"}
          %a{:href => "/users/669/edit"}
          %i.fa.fa-cog
        .groups
          %a{:href => "/groups/1348/messages"}
            .group
              %p.group__group-name example
              %p.group__latest-message まだメッセージがありません
          %a{:href => "/groups/1347/messages"}
            .group
              %p.group__group-name sample
              %p.group__latest-message aaaaa