%body
  .flash-box
  .wrapper

  = render 'messages/side_bar'

.chat-main
  .main-header
    .left-box
      %h2.left-box__current-group
        = @group.name
      %ul.left-box__member-list
        Member: 
        %li.left-box__member-list__member 
    = link_to edit_group_path(@group) do
      .left__edit-btn Edit
  .messages
    .message
      .message__upper-info
      %p.message__upper-info__talker
      %p.message__upper-info__date 
      %p.message__text 

  .form
    %form
      %input.form__message
      .form__mask
        %label.form__mask__image
          = fa_icon 'picture-o', class: 'icon'
          %input.hidden{type: 'file'}
      %input.form__submit{type: 'submit', value: 'Send'}
